@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/static/Inter-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --white: hsl(0, 0%, 100%);
  --green: hsl(75, 94%, 57%);
  --gray700: hsl(0, 0%, 20%);
  --gray800: hsl(0, 0%, 12%);
  --gray900: hsl(0, 0%, 8%);

  --font-family: "Inter", sans-serif;
  --font-size: 14px;
  --font-weight400: 400;
  --font-weight600: 600;
  --font-weight700: 700;
}
