html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-outfit);
  background-color: var(--stone100);
  font-size: var(--font-size);
  font-weight: var(--font-weight400);
  color: var(--stone600);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 195.5rem;
}

.recipe {
  background-color: var(--white);
  border-radius: 2.2rem;
  padding: 4rem;
  width: 73.6rem;
  height: 170.8rem;
}
.recipe__img {
  border-radius: 1.2rem;
  width: 66rem;
  height: 30rem;
}

h1 {
  font-family: var(--font-family-young);
  font-weight: 400;
  color: var(--stone900);
  font-size: 4rem;
  margin-top: 3.8rem;
}

.recipe__description {
  margin-top: 2.1rem;
  line-height: 148%;
}
.preparation {
  background-color: var(--rose50);
  border-radius: 1rem;
  padding: 2.7rem 2.8rem;

  margin-top: 3.2rem;
}
.preparation__title {
  color: var(--rose800);
  font-size: 1.96rem;
}
.preparation__list,
.ingredients__list,
.instructions__list {
  padding-top: 1.8rem;
  padding-left: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
.preparation__item,
.ingredients__item,
.instructions__item {
  position: relative;
  padding-left: 3.2rem;
}
.preparation__item::before,
.ingredients__item::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--brown800);
  font-weight: var(--font-weight700);
}

.ingredients {
  margin-top: 3.3rem;
}

.ingredients__title,
.instructions__title,
.nutrition__title {
  font-family: var(--font-family-young);
  font-size: 2.8rem;
  font-weight: var(--font-weight400);
  color: var(--brown800);
}
.ingredients__list {
  padding-top: 2.4rem;
}

hr {
  background-color: var(--stone150);
  height: 0.1rem;
  border: none;
  margin-top: 3.2rem;
}
.instructions {
  margin-top: 3rem;
}

.instructions__list {
  padding-top: 2.2rem;
  gap: 0.8rem;
  counter-reset: step;
}

.instructions__item {
  line-height: 150%;
}
.instructions__item::before {
  counter-increment: step;
  content: counter(step) ".";
  position: absolute;
  left: 0;
  top: 0;
  color: var(--brown800);
  font-weight: var(--font-weight700);
}

.nutrition {
  margin-top: 3rem;
}
.nutrition__description {
  margin-top: 2.4rem;
}
.nutrition__table {
  width: 100%;
  padding-top: 0.8rem;
}
.nutrition__table td {
  padding: 0 3rem;
  padding-bottom: 1rem;
  padding-top: 1.8rem;
}
.nutrition__table-label {
  width: 30.2rem;
}
.nutrition__table-value {
  color: var(--brown800);
}
.border {
  border-bottom: 0.1rem solid var(--stone150);
}
