@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
  --white: hsl(0, 0%, 100%);
  --slate300: hsl(212, 45%, 89%);
  --slate500: hsl(216, 15%, 48%);
  --slate900: hsl(218, 44%, 22%);

  --font-family: "Outfit", sans-serif;
  --font-size: 15px;
  --font-weight400: 400;
  --font-weight700: 700;
}
