html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family);
  background-color: var(--slate300);
  font-size: var(--font-size);
  font-weight: var(--font-weight400);
}

.article {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.card {
  display: flex;
  justify-content: space-between;
  max-width: 32rem;
  padding: 1em;
  padding-bottom: 4rem;
  gap: 2.4rem;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 2rem;
  box-shadow: 0 1rem 1.5rem 1rem rgba(0, 0, 0, 0.05);
}

.card__wrapper {
  display: flex;
  padding: 0 1.6rem;
  gap: 1.6rem;
  flex-direction: column;
  text-align: center;
}

.card__image {
  border-radius: 1rem;
  width: 100%;
}

.card__title {
  font-size: 2.2rem;
  font-weight: var(--font-weight700);
  color: var(--slate900);
  line-height: 120%;
}

.card__description {
  color: var(--slate500);
  line-height: 140%;
  letter-spacing: 0.02rem;
}
