@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

:root {
  --white: hsl(0, 0%, 100%);

  --blue500: hsl(215, 51%, 70%);
  --cyan400: hsl(178, 100%, 50%);

  --blue950: hsl(217, 54%, 11%);
  --blue900: hsl(216, 50%, 16%);
  --blue800: hsl(215, 32%, 27%);

  --font-family: "Outfit", sans-serif;
  --font-size: 18px;
  --font-weight300: 300;
  --font-weight400: 400;
  --font-weight600: 600;
}
